-e git+https://github.com/HorsemanWSGI/horseman.git#egg=horseman
-e git+https://github.com/HorsemanWSGI/func_annotator.git#egg=func_annotator
-e git+https://github.com/HorsemanWSGI/autorouting.git#egg=autorouting
-e .
